
    {% extends "layout.html" %}
    
    {% block content %}
    <div class="col-sm-8 text-left" style="background-color: #fff">
      {% if request.path == '/removeFAQ' %}
        <br>
        <div class = "alert alert-success" style="width:600px">
          FAQ removed succesfully.  Refresh to see changes.
        </div>
        {% endif %}
        
        {% if request.path == '/editFAQconfirm' %}
        <br>
        <div class = "alert alert-success" style="width:600px">
          FAQ updated successfully.  Refresh to see changes.
        </div>
        {% endif %}
      <h2>Honors Program FAQs</h2>
      {% for item in FAQ %}
        <p><h4><b>{{item.question}}</b></h4></p>
        <p>{{item.answer}}</p>
        {% if admin %}
        
        
        <div class = "pull-right">
            <form action = "/removeFAQ" method = "post">
                <button class = "btn btn-danger" style = "border-color: #000" name = "remove" value= {{item.id}}>Remove</button>
            </form>
        </div>
        <div class = "pull-right">
            <form action = "/editFAQ" method = "post">
                <button class = "btn btn-warning " style = "border-color: #000" name = "edit" value = {{item.id}}>Edit</button>
            </form>
        </div>
        
        {% endif %}
      {% endfor %}
      <br>
      <br>
      {% if admin == True %}
      <h3>Add an FAQ Here</h3>
      <hr>
        <form id ="contact-form" method="post" action="/FAQ_posted">
      <div class = "col-xs-4">
        <textarea rows = "1" name = "question" type = "textarea" class = "form-control" placeholder = "Enter the Question Here" value = question required></textarea>
        <br>
        <textarea rows = "4" name = "answer" type = "textarea" class = "form-control" placeholder = "Enter the Answer Here" value = answer required></textarea>
        <br>
        
        <input name = "postFAQ" value = "Post FAQ" type = "submit" style="background-color:#00305e; color:#fff;" class = "btn"/>
      </div>
      </form>
      {% endif %}

    </div>
    {% endblock %}