
    {% extends "layout.html" %}
    
    {% block content %}
    <!-- Change this section of text per page -->    
    <div class="col-sm-8 text-left" style="background-color: #fff"> 
      <h1>Frequently Asked Questions</h1>
      <hr>
      <h5><b>Example of a Question 1?</b></h5>
      <p>Enter Answer here.</p>
      <h5><b>Example of a Question 2?</b></h5>
      <p>Enter Answer Here.</p>
      <h5><b>Example of a Question 3?</b></h5>
      <p>Enter Answer Here.</p>
      <h5><b>Example of a Question 4?</b></h5>
      <p>Enter Answer Here.</p>
      <h5><b>Example of a Question 5?</b></h5>
      <p>Answer.</p>
      <h5><b>Example of a Question 6?</b></h5>
      <p>Enter Answer Here.</p>
    </div>
    {% endblock %}