
    {% extends "layout.html" %}
    {% block content %}
    <div class="col-sm-8 text-left" style="background-color: #fff"> 
      <h1>Change your password below</h1>
      <hr>
      <div>
        <h4>Password Rules</h4>
        <ul>
          <li>Between 8-30 characters in length.</li>
          <li>At least 1 uppercase character.</li>
          <li>At least 1 lowercase character.</li>
          <li>At least 1 numeric character.</li>
        </ul>
      </div>
      <form id ="contact-form" method="post" action="/changepassword">
      <div class = "col-xs-3">
        <input name = "password1" type = "password" class = "form-control" placeholder = "Enter new password" required>
        <br>
        <input name = "password2" type = "password" class = "form-control" placeholder = "Enter new password again" required>
        <br>
        <input name = "passwordchange" value = "Change password" type = "submit" style="background-color:#00305e; color:#fff;" class = "btn"/>
        <br>
        {% if request.path == '/changepassword' %}
        <br>
        {% if pass_ == True %}
        <div class = "alert alert-success" style = "">
          Password changed successfully.
        </div>
        {% else %}
          
        <div class = "alert alert-danger" style = "">
          New passwords do not match.
        </div>
        {% endif %}
        {% endif %}
      </div>
      </form>
      <h3></h3>
      
    </div>
    {% endblock %}