    {% extends "layout.html" %}
        {% block content %}
        <div class="col-sm-8 text-left" style="background-color: #fff"> 
        {% for item in searched %}
        <table class = "table table-striped table-bordered table-responsive" style="width:100%; margin: 10px auto; background-color:#c6c6cb ">
            <br>
            <tr>
                <th><b>First Name</b></th>
                <th><b>Last Name</b></th>
                <th><b>Email</b></th>
                <th><b>Term</b></th>
            </tr>
            <tr>
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.term}}</td>
            </tr>
        </<table>
            
        <table class = "table table-striped table-bordered table-responsive" style="width:100%; margin: 10px auto; background-color:#c6c6cb ">
            <tr>
                <th><b>Admitted</b></th>
                <th><b></b>Status</b></th>
            </tr>
            <tr>
                <td>{{item.admitted}}</td>
                <td>{{item.status}}</td>
            </tr>
        </table>
        <table  class = "table table-bordered table-responsive" style="width:100%; margin: 10px auto; background-color:#c6c6cb ">
            <tr>
                <td><b>FSEM HN</b></td><td>{{item.fsemhn}}</td>
                <td><b>CoCur 1</b></td><td>{{item.cocur1}}</td>
                <td><b>Honors 201</b></td><td>{{item.honr201}}</td>
            </tr>
            <tr>
                <td><b>FSEM Date</b></td><td>{{item.fsemdate}}</td>
                <td><b>Date 1</b></td><td>{{item.date}}</td>
                <td><b>Honors 201 Date</b></td><td>{{item.honr201date}}</td>
            </tr>
            <tr>
                <td><b>HN Course 1</b></td><td>{{item.hncourse}}</td>
                <td><b>HN Course 2</b></td><td>{{item.hncourse2}}</td>
                <td><b>HN Course 3</b></td><td>{{item.hncourse3}}</td>
            </tr>
            <tr>
                <td><b>HN Date 1</b></td><td>{{item.h1date}}</td>
                <td><b>HN Date 2</b></td><td>{{item.h2date}}</td>
                <td><b>HN Date 3</b></td><td>{{item.h3date}}</td>
            </tr>
            <tr>
                <td><b>Research Course</b></td><td>{{item.researchcourse}}</td>
                <td><b>Capstone Course</b></td><td>{{item.capstonecourse}}</td>
                <td><b>Leardership</b></td><td>{{item.leadership}}</td>
            </tr>
            <tr>
                <td><b>Reaserch Date</b></td><td>{{item.researchdate}}</td>
                <td><b>Capstone Date</b></td><td>{{item.capstonedate}}</td>
                <td><b>Mentoring</b></td><td>{{item.mentoring}}</td>
            </tr>
            <tr>
                <td><b>Honors Portfolio 1</b></td><td>{{item.honrportfolio1}}</td>
                <td><b>Honors Portfolio 2</b></td><td>{{item.honrportfolio2}}</td>
                <td><b>Honors Protfolio 3</b></td><td>{{item.honrportfolio3}}</td>
            </tr>
            <tr>
                <td><b>Honors Portfolio 4</b></td><td>{{item.honrportfolio4}}</td>
                <td><b>Exit Interview</b></td><td>{{item.exitinterview}}</td>
            </tr>
        </table>
      <hr>
        {% endfor %}
    </div>
        
        {% endblock %}