
    {% extends "layout.html" %}
    {% block content %}
    <div class="col-sm-8 text-left" style="background-color: #fff"> 
      <h1>Upload your Access database in the form of a CSV file</h1>
      <hr>
      <form enctype = multipart/form-data method = "post" action ='/upload'>
        <!--<span class="btn btn-default btn-file">-->
        <input name = "file" type="file" required>
        <!--<div class="form-group">
            <input type="file" name="file" class="file" style = "visibility: hidden; position: absolute;">
            <div class="input-group col-xs-4">
              <input type="text" class="form-control input" disabled placeholder="Upload File">
              <span class="input-group-btn">
                <button class="browse btn btn-default" type="file">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    Browse
                </button>
              </span>
            </div>
        </div>-->
        <br>
        <input value = "Upload" type = "submit" class = "btn" style = "background-color: #00305e; color: #fff"/>
      </form>
      
      {% if request.path == '/upload' %}
        <br>
        <div class = "alert alert-success" style="width:200px">
          File uploaded successfully.
        </div>
        {% endif %}
      
    </div>
    {% endblock %}